.box-stock {
  margin-top: 13px;
  width: 90px;
  height: 30px;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  text-align: center;
  font-weight: bold;
  float:right;
}

.stock-up {

  background-color: #C8E6C9;
  border-color: #013220;
  color: #013220;
}

.stock-down {
  background-color: #FF8C7F;
  border-color: #910E00;
  color: #910E00;
}
