/* main class for the popup */
.main {
  background-color: #C8E6C9;
  font-family: 'Montserrat', sans-serif;
}

/* default text classes */
h1 {
  text-align: center;
  margin: 10px;
  font-weight: bolder;
}

h2 {
  margin: 4px;
  text-align: center;
  font-weight: bold;
}

h3 {
  font-weight: bold;
  margin: 0px
}

p {
  text-align: center;
}

/* class for the small text with version */
.small {
  position: absolute;
  bottom: 5px;
  width: 100%;
  font-size: 8;
  text-align: center;
}

/* class for the radio button */
.radio {
  margin-top: 6px;
  text-align: center;
  display: block;
}

/* class for the submit button */
.submitButton {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 2px;
  display: block;
}

.popup {
  position:relative;
  top:0px;
  height: 60px;
  margin-bottom: 15px;
}

.body-container {
  background: white;
  box-shadow: 0 2px 4px 0 grey;
  width: 40%;
  margin: 10px;
  margin-left:30%;
  margin-right:30%;
  padding-bottom: 4px;
  padding-top: 2px;
}
